input {
    keyboard {
        repeat-delay 250
        repeat-rate 40
    }
    touchpad {
        dwt
        natural-scroll
        accel-speed -0.15
        accel-profile "adaptive"
        scroll-factor vertical=0.15 horizontal=0.15
        click-method "clickfinger"
    }
}

output "eDP-1" {
    mode "3200x2080@120.030"
    scale 1.75
    transform "normal"
    position x=0 y=1080
}
output "HDMI-A-1" {
    mode "1920x1080@60"
    position x=0 y=0
    scale 1.0
}

prefer-no-csd

layout {
    gaps 16
    center-focused-column "never"
    preset-column-widths {
        proportion 0.382
        proportion 0.618
        proportion 1.0
        proportion 0.5
    }
    preset-window-heights {
        proportion 0.382
        proportion 0.618
        proportion 1.0
        proportion 0.5
    }
    default-column-width {}
    focus-ring {
        off
    }

    border {
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=5 y=5
        color "#0007"
    }

    struts {
        left 12
        right 12
        top 12
        bottom 12
    }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

animations {
    window-open {
        spring damping-ratio=0.8 stiffness=500 epsilon=1e-5
    }
    window-close {
        spring damping-ratio=0.8 stiffness=500 epsilon=1e-5
    }
    window-resize {
        spring damping-ratio=0.65 stiffness=500 epsilon=1e-5
    }
    window-movement {
        spring damping-ratio=0.65 stiffness=500 epsilon=1e-5
    }
    horizontal-view-movement {
        spring damping-ratio=0.65 stiffness=500 epsilon=1e-5
    }
    workspace-switch {
        spring damping-ratio=0.65 stiffness=500 epsilon=1e-5
    }
    overview-open-close {
        spring damping-ratio=0.65 stiffness=500 epsilon=1e-5
    }
    config-notification-open-close {
        spring damping-ratio=0.8 stiffness=500 epsilon=1e-5
    }
    exit-confirmation-open-close {
        spring damping-ratio=0.8 stiffness=500 epsilon=1e-5
    }
    screenshot-ui-open {
        spring damping-ratio=0.8 stiffness=500 epsilon=1e-5
    }
}

spawn-at-startup "swww-daemon"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+1%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "1%-"; }

    F4 allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    F5 allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    F6 allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    F7 allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    F1 allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "1%-"; }
    F2 allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+1%"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }
    Alt+W repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }
    Mod+M     { focus-column-left; }
    Mod+N     { focus-window-or-workspace-down; }
    Mod+E     { focus-window-or-workspace-up; }
    Mod+I     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }
    Mod+Shift+M     { move-column-left; }
    Mod+Shift+N     { move-window-down-or-to-workspace-down; }
    Mod+Shift+E     { move-window-up-or-to-workspace-up; }
    Mod+Shift+I     { move-column-right; }

    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Down  { focus-monitor-down; }
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+H     { focus-monitor-left; }
    Mod+Alt+J     { focus-monitor-down; }
    Mod+Alt+K     { focus-monitor-up; }
    Mod+Alt+L     { focus-monitor-right; }
    Mod+Alt+M     { focus-monitor-left; }
    Mod+Alt+N     { focus-monitor-down; }
    Mod+Alt+E     { focus-monitor-up; }
    Mod+Alt+I     { focus-monitor-right; }

    Mod+Shift+Alt+Left  { move-window-to-monitor-left; }
    Mod+Shift+Alt+Down  { move-window-to-monitor-down; }
    Mod+Shift+Alt+Up    { move-window-to-monitor-up; }
    Mod+Shift+Alt+Right { move-window-to-monitor-right; }
    Mod+Shift+Alt+H     { move-window-to-monitor-left; }
    Mod+Shift+Alt+J     { move-window-to-monitor-down; }
    Mod+Shift+Alt+K     { move-window-to-monitor-up; }
    Mod+Shift+Alt+L     { move-window-to-monitor-right; }
    Mod+Shift+Alt+M     { move-window-to-monitor-left; }
    Mod+Shift+Alt+N     { move-window-to-monitor-down; }
    Mod+Shift+Alt+E     { move-window-to-monitor-up; }
    Mod+Shift+Alt+I     { move-window-to-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-workspace-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-workspace-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-workspace-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-workspace-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-workspace-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-workspace-to-monitor-right; }
    Mod+Shift+Ctrl+M     { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+N     { move-workspace-to-monitor-down; }
    Mod+Shift+Ctrl+E     { move-workspace-to-monitor-up; }
    Mod+Shift+Ctrl+I     { move-workspace-to-monitor-right; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Alt+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    Alt+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    Mod+TouchpadScrollDown { spawn "brightnessctl" "--class=backlight" "set" "1%-"; }
    Mod+TouchpadScrollUp { spawn "brightnessctl" "--class=backlight" "set" "+1%"; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+Shift+T { toggle-column-tabbed-display; }

    Mod+Space       { switch-layout "next"; }
    Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+Q { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
